<!-- Basic Default MVC View Template -->
<!-- TODO: Update formatting to use Monster Admin (Bootstrap) -->
{{template "dochead" .}}

{{if .flash.error}}
<p class="error">
    {{.flash.error}}
</p>
{{end}}

<div class ="container" id="address">
    <div class="card text-center">
        <div class="card-header">
            Create New Address
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Create Address</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Line 1</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Address Line 1" class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Line 2</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Address Line 2" class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">City</label>
                            <div class="col-sm-10">
                                <input type="text" name="city" placeholder="City" class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">State</label>
                            <div class="col-sm-4">
                                <input type="text" name="state" placeholder="State" class="form-control">
                            </div>

                            <label class="col-sm-2 control-label" for="textinput">Postcode</label>
                            <div class="col-sm-4">
                                <input type="text" name="zip" placeholder="Post Code" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">County</label>
                            <div class="col-sm-4">
                                <input type="text" name="county" placeholder="County" class="form-control">
                            </div>

                            <label class="col-sm-2 control-label" for="textinput">Country</label>
                            <div class="col-sm-4">
                                <input type="text" name="country" placeholder="Country" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <button type="submit" href="/address" class="btn btn-default">Cancel</button>
                                    <button type="submit" href="/address/create" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

    <!-- Table list of all models -->
    <!-- TODO: Check Template Vars, If Route is Index Show This -->
    <h1>My Address List</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>            
                    <th>ID</th> 
                    <th>Number</th> 
                    <th>Street</th> 
                    <th>City</th> 
                    <th>State</th> 
                    <th>Zip</th> 
                    <th>County</th> 
                    <th>Country</th> 
                </tr>
            </thead>            
            {{range $k,$v:=.List}}
            <tr>
                <td>{{$v.ID}}</td>
                <td>{{$v.Number}}</td>
                <td>{{$v.Street}}</td>
                <td>{{$v.City}}</td>
                <td>{{$v.State}}</td>
                <td>{{$v.Zip}}</td>
                <td>{{$v.County}}</td>
                <td>{{$v.Country}}</td>

                <td><a href="/address/delete/{{$v.ID}}"><i class="fa fa-trash text-danger"></i></a></td>
            </tr>
            {{end}}
        </table>
    </div>

    <!-- TODO: Check Template Vars, If Route is Delete Show This -->
    <!-- Show Flash Message with Succes or Fail of Delete -->

    <!-- TODO: Check Template Vars, If Route is Update Show This -->
    <!-- Show Flash Message with Succes or Fail of Update -->
</div>

{{template "docfoot" .}}